/* body {
    color:red;
} */

/* .black-border {
    border: 5px solid black;
} */

/* #green-background { 
    background-color: green;
} */

body {
    background-color:cadetblue
}

h1 {
    background-color: darkblue;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.border {
    border: 2px solid black;
}

a {
    color:darkred
}

.vervolg {
    font-size: 12px;
}